<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flordia's Hair Salon</title>
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
</head>
<body background = "http://seadoors.net/img/backgrounds/love-the-one-youre-with-hair-salon-wallsend.jpg">
    <a href="/" id="home" class="btn btn-default glyphicon glyphicon-home"></a>
    <div class="jumbotron jumbotron-fluid">
     <h1><center>Florida's Hair Salon<center></h1>
    </div>
    <br>
    <div class="container">
    </div>
          @RenderBody()
      </div>
    </div>
  </body>
</html>
