@{
  Layout="_Layout";
}
<center><h1>Add new stylist</h1>
<hr>
<form action="/clients/new" method="post">
  <label for="stylist-name">Stylist name:</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <label for="stylist-specialty">Stylist specialty:</label>
  <input id="stylist-specialty" name="stylist-specialty" type="text">

  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4></center>
