@{
  Layout = "_Layout";
}
<div class="container">
  <h3>Add new stylist</h3>
  <hr>
  <form action="/stylists" method="post">
    <label for="stylist-name"> Stylist Name:</label>
    <input type="text" name="stylist-name" id="stylist-name">
    <hr>
    <button type="submit"> Add </button>
    <hr>
  </form>
  <br>
  <h4><a href="/"> Home </a></h4>
</div>
