@{
  Layout = "_Layout";
}

<h3>Add Client</h3>
<br>
<hr>
<form action="/clients" method="post">
  <label for="name">Client's Name: </label>
  <input required type="text" name="client-name" placeholder="Client's Email" id="email">
  <label for="email">Client's Email: </label>
  <input required type="text" email="client-email" placeholder="Client's Email" id="email">
  <hr>
  <button type="submit"> Add </button>
</form>
<br>
<p><a href="/"> Home </a></p>
<p><a href="/clients"> View all Clients</a></p>
