@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Clients:</h3>
  @if (Model != null)
  {
    <ul>
      @foreach (var client in Model)
      {
        <li><a href="/clients/@client.GetId()">@client.GetName()</a>
        <a href="/clients/@client.GetId()/update"> Edit</a> || <a href="/clients/@client.GetId()/delete"> Delete</a></li>
      }
    </ul>
  }
  <br>
  <h4><a href="/clients/new"> Add client</a></h4>
  <hr>
  <h4><a href="/"> Home </a></h4>
</div>
