@{
  Layout="_Layout";
}

<center><h1>Add a new client</h1>
<form action="/clients/new" method="post">
  <label for="client-name">Client name:</label>
  <input type="text" name="client-name" id="client-name">
  <label for="client-email">Client email:</label>
  <input type="text" name="client-email" id="client-email">
  <br>
  <button type="submit">Add new client</button>
</form>
<br>
<p><a href="/">Back Home</a></p>
<p><a href="/clients">View all items</a></p></center>
S
