@{
  Layout = "_Layout";
}
<title>Client index</title>

<div class="container">
  <h1>Clients:</h1>
  <hr />
  <h4><a class="btn-float add-new btn-info" href="/clients/new">Add new client</a></h4>
  @if (Model.Count != 0)
  {
    <ul>
    @foreach (var client in Model)
    {
      <li><a href='/clients/@client.GetId()'><span class="bullet">@client.GetName()</span> </a> <br> <a class="btn-info edit-delete"  href="/clients/@client.GetId()/update">Edit</a> | <a class="btn-info edit-delete"  method="post" href="/clients/@client.GetId()/delete">Delete</a></li>
    }
    </ul>
  }
  <hr>
</div>
