@{
  Layout = "_Layout";
}

<div class="container">
  @if (Model.Count != 0)
  {
    <ul>
      @foreach (var specialty in Model)
      {
        <li><a href= "/specialties/@specialty.GetId()">  @specialty.GetSpecialty()</a> ||
        <a href="/specialties/@specialty.GetId()/update"> Edit</a> || <a href="/specialties/@specialty.GetId()/delete"> Delete</a></li>
      }
    </ul>
  }
  <br>
  <hr>
  <h4><a href="/specialties/new"> Add New specialty </a></h4>
  <hr>
  <h4><a href="/"> Home </a></h4>
  <hr>
</div>
