@{
  Layout = "_Layout";
}
<div class="container">
  <h3>Add new specialty</h3>
  <hr>
  <form action="/specialties" method="post">
    <label for="specialty-name"> Specialty:</label>
    <input type="text" name="specialty-name" id="specialty-name">
    <hr>
    <button type="submit"> Add </button>
    <hr>
  </form>
  <br>
  <h4><a href="/"> Home </a></h4>
</div>
