@{
  Layout = "_Layout";
}
<div class="container">
  <h3>Add new stylist</h3>
  <hr>
  <form action="/stylists" method="post">
    <label for="stylist-name"> Stylist Name:</label>
    <input type="text" name="stylist-name" id="stylist-name">
    <hr>
    <div class="form-group">
            <label for="stylist-specialty">Specialty:</label>
            <select name="stylistSpecial">
              <option value="perm">Perm</option>
                <option value="Mens Hairsytles">Mens's Hairstyles</option>
                <option value="highlights">Highlights</option>
                <option value="extensions">Extensions</option>
                <option value="Womens Hairstyles">Women's Hairstyles</option>
            </select>
        </div>
        <hr>
        <button type="submit" class="btn">HIRE!</button>
      </form>
    </div>
  </div>
</div>
    <button type="submit"> Add </button>
    <hr>
  </form>
  <br>
  <h4><a href="/"> Home </a></h4>
</div>
